# Ignore ALL VSCode Directories.
**/.vscode

# Ignore ALL .DS_Store files.
*.DS_Store

# Ignore the genereatedData directory. Users's can create their own local test data to mimic real data.
/generatedData/

# Ignore any authorization tokens present in the /jobs directory. Only the production server should have authorization.
/jobs/*.json

# Ignore dependency information. That's why we use `npm` to do this for us.
/node_modules

# Igore the Next.js configuration and output directories.
/.next/
/out/

# Ignore the production build output folder. User's can rebuild their local development environment at any time.
/build

# Ignore ALL certificate/key related files.
*.pem

# Ignore ALL debug outputs.
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Ignore the hidden ENVIRONMENT file with secrets. The .env.example is okay, since it is just an example.
.env

# Ignore Vercel configuration directory.
.vercel

# Ignore ALL Typescript files.
*.tsbuildinfo
next-env.d.ts